In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dictionary/conceptnet-assertions-5.5.5.csv.gz', sep='\t', header=None, names=['uri', 'relation', 'from', 'to', 'json'])
df.head()

,uri,relation,from,to,json
0,"/a/[/r/Antonym/,/c/ab/агыруа/n/,/c/ab/аҧсуа/]",/r/Antonym,/c/ab/агыруа/n,/c/ab/аҧсуа,"{""dataset"": ""/d/wiktionary/en"", ""license"": ""cc..."
1,"/a/[/r/Antonym/,/c/adx/thəχ_kwo/a/,/c/adx/ʂap_...",/r/Antonym,/c/adx/thəχ_kwo/a,/c/adx/ʂap_wə,"{""dataset"": ""/d/wiktionary/fr"", ""license"": ""cc..."
2,"/a/[/r/Antonym/,/c/adx/tok_po/a/,/c/adx/ʂa_wə/]",/r/Antonym,/c/adx/tok_po/a,/c/adx/ʂa_wə,"{""dataset"": ""/d/wiktionary/fr"", ""license"": ""cc..."
3,"/a/[/r/Antonym/,/c/adx/ʂa_wə/a/,/c/adx/tok_po/]",/r/Antonym,/c/adx/ʂa_wə/a,/c/adx/tok_po,"{""dataset"": ""/d/wiktionary/fr"", ""license"": ""cc..."
4,"/a/[/r/Antonym/,/c/adx/ʂap_wə/a/,/c/adx/thəχ_k...",/r/Antonym,/c/adx/ʂap_wə/a,/c/adx/thəχ_kwo,"{""dataset"": ""/d/wiktionary/fr"", ""license"": ""cc..."

In [4]:
df = df[['from', 'json']].drop_duplicates(subset='from')
df = df[(df['from'].str.extract(r'/./([^/]*)/.*') == 'en')]
df['from'] = df['from'].str.extract(r'/./[^/]*/([^/]*).*')
df.head()

c:\Users\Jeremy\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

c:\Users\Jeremy\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

               from                                               json
7469              0  {"dataset": "/d/wiktionary/fr", "license": "cc...
7470  12_hour_clock  {"dataset": "/d/wiktionary/en", "license": "cc...
7471  24_hour_clock  {"dataset": "/d/wiktionary/en", "license": "cc...
7472              5  {"dataset": "/d/wiktionary/en", "license": "cc...
7473            a.c  {"dataset": "/d/wiktionary/fr", "license": "cc...

In [6]:
# Keep: wiktionary and verbosity
df = df[
    df['json'].str.contains('verbosity') | df['json'].str.contains('/d/wiktionary/en')
]
df.head()

               from                                               json
7470  12_hour_clock  {"dataset": "/d/wiktionary/en", "license": "cc...
7471  24_hour_clock  {"dataset": "/d/wiktionary/en", "license": "cc...
7472              5  {"dataset": "/d/wiktionary/en", "license": "cc...
7474            a.m  {"dataset": "/d/wiktionary/en", "license": "cc...
7477       ab_extra  {"dataset": "/d/wiktionary/en", "license": "cc...

In [7]:
words = df['from']
words = words[~words.str.contains('_')].drop_duplicates()
words.head()

7472            5
7474          a.m
7479    abactinal
7480      abandon
7482     abapical
Name: from, dtype: object

In [8]:
len(words)

492938

In [24]:
import json
json.dump(dic, open('dictionary/words.json', 'w'))

In [12]:
import re

rows = []
with open('dictionary/instance_types_en.ttl', 'r', encoding="utf8") as f:
    f.readline()
    for l in f.readlines():
        try:
            split = l.split(' ')
            rows.append((split[0].split('/')[-1], split[2]))
        except:
            print(l)

# started 2017-03-31T16:36:17Z

In [20]:
df = pd.DataFrame.from_records(rows[:-1], columns=['object', 'type'])
df = df[df['type'].str.contains('dbpedia.org/ontology')].copy()
df['object'] = df['object'].str.strip(r'[<>]').str.split('__', expand=True)[0].str.replace('_', ' ').str.replace(r'\(.*\)', '').str.strip()
df = df.drop_duplicates()
df['type'] = df['type'].str.strip(r'[<>]').str.split('/', expand=True)[4]
df['object'] = df['object'].str.replace(r'\s+', ' ')
df['object'] = df['object'].str.replace('%22', '"')
df['object'] = df['object'].str.replace('%3F', '?')
df = df[~(df['object'] == '')].copy()

df

                                           object                  type
2                                          Autism               Disease
3                                         Alabama  AdministrativeRegion
4                                 Abraham Lincoln          OfficeHolder
5                                 Abraham Lincoln            TimePeriod
9                                        Animalia                  Book
10                                 Academy Awards                 Award
11                                        Actrius                  Film
13                                     Allan Dwan                Person
14                                     Allan Dwan        PersonFunction
15                                   Alain Connes             Scientist
16                                      Aristotle           Philosopher
17       Academy Award for Best Production Design                 Award
19                                       Ayn Rand                Writer
23                                        Algeria               Country
29                                   Andre Agassi          TennisPlayer
30                                    Animal Farm                  Book
32                                        Andorra               Country
33                                         Alaska  AdministrativeRegion
41                                  Aldous Huxley                Writer
43                          America the Beautiful                  Song
44                          America the Beautiful                 Sound
48          American National Standards Institute          Organisation
50                              A Modest Proposal                  Book
51                                       Apollo 8   ArtificialSatellite
52                                      Apollo 11   ArtificialSatellite
53                                      Apollo 11                 Sound
58                               Andrei Tarkovsky                Person
59                               Andrei Tarkovsky        PersonFunction
60                               Andrei Tarkovsky           WrittenWork
63                                           Asia             Continent
...                                           ...                   ...
5150393                            Karel San Juan          OfficeHolder
5150394                         Eleousa, Ioannina  AdministrativeRegion
5150395                                     Wingo               Airline
5150396                             Magae Station               Station
5150397                   The Gift of the Morning                  Film
5150399                            Arturo Falconi                Person
5150400                            Arturo Falconi        PersonFunction
5150402                             Ander Bardají          SoccerPlayer
5150403                             Ander Bardají         CareerStation
5150408         Commercial Capital Training Group               Company
5150409                  Karuppu Raja Vellai Raja                  Film
5150410                   Malachi Mitchell-Thomas       MotorcycleRider
5150411                    Rio Urubu State Forest         ProtectedArea
5150412                            James Anderson          SoccerPlayer
5150413                            James Anderson         CareerStation
5150414                               Jane McLean                Person
5150415                            Zakir Kathrada             Cricketer
5150416                             Blayde Capell             Cricketer
5150417                              Colin Buchan          SoccerPlayer
5150418                              Colin Buchan         CareerStation
5150422                               Hugh Butler          SoccerPlayer
5150423                               Hugh Butler         CareerStation
5150424                     District No. 8 School         HistoricPlace
5150425                           Christian Iddon       MotorcycleRider
5150426                     Liebfrauen, Frankfurt      HistoricBuilding
5150427                                DJ EmicVee                Person
5150428                                DJ EmicVee        PersonFunction
5150429                                Amelia Ong         MusicalArtist
5150430                        Lihini Weerasuriya          TennisPlayer
5150431       1999–2000 UEFA Cup qualifying round                 Event

[3372655 rows x 2 columns]

In [21]:
def countUpper(x):
    words = x.split(' ')
    return len([w for w in words if w[0].isupper()]) - 1

def countWords(x):
    return len(x.split(' '))

def countNumbers(x):
    return len(re.findall(r'[0-9]', x))

df['num_upper'] = df['object'].apply(countUpper)
df['num_words'] = df['object'].apply(countWords)
df['num_numbers'] = df['object'].apply(countNumbers)
df['percent_upper'] = df['num_upper']/(df['num_words'] - 1)

df[df['num_words'] > 1].groupby('type').mean().sort_values('percent_upper', ascending=False)

                              num_upper  num_words  num_numbers  percent_upper
type
AcademicConference             3.328571   5.657143     0.000000       0.745493
Guitarist                      1.006849   2.006849     0.000000       1.000000
Gymnast                        1.092981   2.104171     0.000000       0.995510
HandballPlayer                 1.060432   2.073225     0.000000       0.994707
Historian                      1.527370   2.532710     0.000000       0.997997
HorseRider                     1.101538   2.193846     0.000000       0.959744
HorseTrainer                   1.580247   2.580247     0.000000       1.000000
IceHockeyPlayer                1.011910   2.013970     0.000000       0.999077
Jockey                         1.214414   2.221622     0.000000       0.997297
Journalist                     1.091014   2.098551     0.000000       0.996618
LacrosseLeague                 3.358491   4.396226     0.000000       0.992453
GreenAlga                      0.000000   2.000000     0.000000       0.000000
LacrossePlayer                 1.023148   2.023148     0.000000       1.000000
Ligament                       0.000000   3.027322     0.000000       0.000000
Lighthouse                     1.778717   2.890104     0.000000       0.943680
Lymph                          0.012987   3.350649     0.000000       0.006494
Mineral                        0.160000   2.360000     0.000000       0.086667
MixedMartialArtsLeague         2.000000   3.000000     0.000000       1.000000
Model                          1.055784   2.071638     0.000000       0.993149
Moss                           0.000000   2.000000     0.000000       0.000000
MountainPass                   1.146887   2.354086     0.000000       0.903032
MountainRange                  1.198869   2.297215     0.000000       0.955004
Muscle                         0.003802   3.022814     0.000000       0.001901
Library                        2.400574   3.710325     0.000000       0.921155
Grape                          0.745098   2.215686     0.000000       0.607026
GolfPlayer                     1.046865   2.054778     0.000000       0.996703
GolfLeague                     1.894737   3.052632     0.000000       0.951754
Crustacean                     0.003808   2.041889     0.000000       0.001269
Curler                         1.020752   2.027237     0.000000       0.996109
CurlingLeague                  2.666667   3.666667     0.000000       1.000000
...                                 ...        ...          ...            ...
ArtificialSatellite            0.600637   2.288535     1.793631       0.363013
MixedMartialArtsEvent          1.756410   3.923077     1.965035       0.424842
SportsSeason                   1.563050   3.234604     2.112903       0.785484
Road                           1.441060   3.320686     2.133819       0.595757
SportsTeamMember               1.568306   3.562157     2.232674       0.730313
Locomotive                     1.552266   3.503854     2.267345       0.643167
Star                           0.599114   2.068660     2.294574       0.545804
Train                          1.132130   3.275090     2.353069       0.424169
Galaxy                         0.122007   2.058153     3.213227       0.083523
SportsEvent                    2.211279   4.527403     3.573471       0.637991
Asteroid                       0.015442   2.019765     3.680667       0.007721
OlympicResult                  2.138325   6.170051     3.817259       0.412416
MotorsportSeason               2.179772   4.368436     3.908308       0.653619
FootballMatch                  2.469862   4.659806     3.947074       0.653515
Earthquake                     0.283474   3.329312     3.973462       0.088242
Olympics                       1.000000   3.000000     4.000000       0.500000
YearInSpaceflight             -0.983333   3.000000     4.000000      -0.491667
TennisTournament               2.135759   4.500444     4.013310       0.587886
GrandPrix                      2.060761   4.102489     4.016105       0.654807
Election                       1.297990   5.347753     4.020004       0.241330
BaseballSeason                 1.342205   4.342205     4.022814       0.387833
NationalFootballLeagueSeason   1.296898   4.317873     4.034269       0.381332
Planet                         0.028653   2.100860     4.050716       0.015807
Event                          2.002025   4.852763     4.470350       0.508215
NCAATeamSeason                 1.550104   5.833820     4.591128       0.309877
SoccerTournament               1.906077   4.144145     4.866398       0.578501
OlympicEvent                   2.950156   9.872052     5.093013       0.338382
FootballLeagueSeason           1.714392   3.997136     5.362923       0.525227
SoccerClubSeason               1.496571   4.584178     5.580698       0.404709
SolarEclipse                   1.000000   6.000000     5.713158       0.200000

[410 rows x 4 columns]

In [24]:
df[df['num_words'] > 1].groupby('type').mean().sort_values('percent_upper', ascending=False).to_csv('dictionary/type_stats.csv')

In [27]:
proper_noun_types = pd.read_csv('dictionary/proper_noun_types.csv')
proper_noun_types

                          proper_nouns
0                        CricketLeague
1                         SpaceShuttle
2                            Guitarist
3                         HorseTrainer
4                       LacrossePlayer
5               MixedMartialArtsLeague
6                        CurlingLeague
7                               Stream
8                         SumoWrestler
9                       SpeedwayLeague
10                    VideogamesLeague
11                          VoiceActor
12                     VolleyballCoach
13                      WaterwayTunnel
14                          Spacecraft
15                           Presenter
16                        SnookerChamp
17                       Constellation
18                     ChemicalElement
19                        BoxingLeague
20                       BowlingLeague
21                                 Bay
22              AmericanFootballPlayer
23                        NascarDriver
24       AustralianRulesFootballPlayer
25              GridironFootballPlayer
26                     IceHockeyPlayer
27                        CollegeCoach
28                         Congressman
29                   GaelicGamesPlayer
..                                 ...
306                               Poem
307                            Country
308                       HandballTeam
309                       MilitaryUnit
310                        RailwayLine
311                        CricketTeam
312                         Locomotive
313                ProgrammingLanguage
314  SupremeCourtOfTheUnitedStatesCase
315          ClassicalMusicComposition
316                              Grape
317                 MythologicalFigure
318                               Road
319                     RailwayStation
320                   MilitaryConflict
321                               Star
322                            Fashion
323                 BiologicalDatabase
324                              Novel
325                        EthnicGroup
326                            Station
327                             Weapon
328                         Skyscraper
329                       SpaceStation
330                            Surname
331                              Train
332                ArtificialSatellite
333                             Galaxy
334                             Planet
335                           Asteroid

[336 rows x 1 columns]

In [36]:
proper_nouns = df[
    df['type'].isin(proper_noun_types['proper_nouns'])
]['object'].drop_duplicates().str.lower().str.replace(' ', '_')
proper_nouns

3                                           alabama
4                                   abraham_lincoln
9                                          animalia
10                                   academy_awards
11                                          actrius
13                                       allan_dwan
15                                     alain_connes
16                                        aristotle
17         academy_award_for_best_production_design
19                                         ayn_rand
23                                          algeria
29                                     andre_agassi
30                                      animal_farm
32                                          andorra
33                                           alaska
41                                    aldous_huxley
43                            america_the_beautiful
48            american_national_standards_institute
50                                a_modest_proposal
51                                         apollo_8
52                                        apollo_11
58                                 andrei_tarkovsky
63                                             asia
64                                   atlantic_ocean
65                              arthur_schopenhauer
66                                            aruba
70                             angolan_armed_forces
72                           albert_sidney_johnston
73                                           angola
75                                      afghanistan
                             ...
5150372                            nonoichi_station
5150373                              andreas_albers
5150379                                jakub_mordec
5150383                                    patentem
5150385                             thomas_nørgaard
5150390                   nonoichi-kōdaimae_station
5150391                                 mark_sheeky
5150392           international_prize_in_statistics
5150393                              karel_san_juan
5150394                           eleousa,_ioannina
5150395                                       wingo
5150396                               magae_station
5150397                     the_gift_of_the_morning
5150399                              arturo_falconi
5150402                               ander_bardají
5150408           commercial_capital_training_group
5150409                    karuppu_raja_vellai_raja
5150410                     malachi_mitchell-thomas
5150411                      rio_urubu_state_forest
5150414                                 jane_mclean
5150415                              zakir_kathrada
5150416                               blayde_capell
5150417                                colin_buchan
5150422                                 hugh_butler
5150424                       district_no._8_school
5150425                             christian_iddon
5150426                       liebfrauen,_frankfurt
5150427                                  dj_emicvee
5150429                                  amelia_ong
5150430                          lihini_weerasuriya
Name: object, Length: 2400767, dtype: object

In [37]:
dic = dict([(w, 1) for w in (list(words) + list(proper_nouns))])
len(dic)

2862875

In [38]:
import json
json.dump(dic, open('dictionary/words.json', 'w'))